/* RESET CSS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(90deg, #f5f385, #ffffff, rgb(245, 181, 109));
}



header {
    width: 100vw;
    background-color: wheat;
    padding: 20px;
    text-align: center;
    border: dashed black 5px;
    color: rgb(148, 45, 45);
}

h1 {
    font-family: Arial black;
    font-size: 2.6rem;
}


.box {
    background: linear-gradient(10deg, #000000, #484345, #040404);
    width: 350px;
    height: 530px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 15px 15px 20px #575656b6;
}


#led {
    width: 100%;
    height: 80px;
    background-color: rgba(225, 225, 225, 0.63);
    color: #000000;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 7px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 5px;
    text-align: right;


}

.box .buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 40px;
}

.box .buttons button {
    background-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 22px;
    font-family: fantasy;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 0px 10px rgb(0, 0, 0);
    transition: 0.2s;
}

.buttons button:hover {
    background-color: #d1d1d1;
    transform: scale(1.05);
}

.buttons button:active {
    transform: scale(0.95);
}